.peer-link-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.peer-link-peer-link {
  width: 100%;
  height: 4015px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(248, 245, 244, 1);
}
.peer-link-group1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 148px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(22, 24, 74, 1);
}
.peer-link-image1 {
  top: 22px;
  left: 64px;
  width: 114px;
  height: 105px;
  position: absolute;
}
.peer-link-group2 {
  top: 61px;
  left: 669px;
  width: 388px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-text02 {
  left: 133px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-text04 {
  left: 266px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-rectangle2 {
  top: 54px;
  left: 1118px;
  width: 258px;
  height: 51px;
  position: absolute;
  border-radius: 20px;
}
.peer-link-text06 {
  top: 61px;
  left: 1198px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-text08 {
  top: 272px;
  left: 45px;
  color: rgba(23, 25, 75, 1);
  width: 613px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-image2 {
  top: 243px;
  left: 745px;
  width: 631px;
  height: 340px;
  position: absolute;
}
.peer-link-group7 {
  top: 694px;
  left: 0px;
  width: 1440px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.peer-link-iconparkleftc {
  top: 28px;
  left: 87.17491912841797px;
  width: 110.85202026367188px;
  height: 103px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peer-link-group {
  top: 8.583334922790527px;
  left: 9.237669944763184px;
  width: 92.37667083740234px;
  height: 85.83333587646484px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-vector {
  top: 0px;
  left: 0px;
  width: 92px;
  height: 86px;
  position: absolute;
}
.peer-link-vector1 {
  top: 23.604162216186523px;
  left: 32.33183670043945px;
  width: 21px;
  height: 39px;
  position: absolute;
}
.peer-link-iconparkrightc {
  top: 27px;
  left: 1237.668212890625px;
  width: 110.85202026367188px;
  height: 103px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peer-link-group1 {
  top: 8.583334922790527px;
  left: 9.237669944763184px;
  width: 92.37667846679688px;
  height: 85.83332824707031px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-vector2 {
  top: 0px;
  left: 0px;
  width: 92px;
  height: 86px;
  position: absolute;
}
.peer-link-vector3 {
  top: 23.604164123535156px;
  left: 39.26008987426758px;
  width: 21px;
  height: 39px;
  position: absolute;
}
.peer-link-image3 {
  top: 24px;
  left: 369.14801025390625px;
  width: 179px;
  height: 123px;
  position: absolute;
}
.peer-link-image4 {
  top: 2px;
  left: 664.0358276367188px;
  width: 178px;
  height: 128px;
  position: absolute;
}
.peer-link-image5 {
  top: 8px;
  left: 957.8475341796875px;
  width: 109px;
  height: 139px;
  position: absolute;
}
.peer-link-group8 {
  top: 933px;
  left: 45px;
  width: 1205px;
  height: 210px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-text10 {
  color: rgba(23, 25, 75, 1);
  width: 560px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-group6 {
  right: -87px;
  width: 302px;
  bottom: 17px;
  height: 86px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(49, 153, 254, 1);
}
.peer-link-text12 {
  top: 25px;
  left: 68px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-rectangle5 {
  top: 1348px;
  left: 0px;
  width: 1440px;
  height: 1206px;
  position: absolute;
}
.peer-link-group14 {
  top: 1434px;
  left: 115px;
  width: 1211px;
  height: 970px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-text14 {
  color: rgba(255, 255, 255, 1);
  width: 474px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-group13 {
  top: 107px;
  left: 0px;
  width: 1211px;
  height: 863px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-group9 {
  top: 0px;
  left: 0px;
  width: 511px;
  height: 384px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(49, 153, 254, 1);
}
.peer-link-text16 {
  top: 166px;
  left: 44px;
  color: rgba(255, 255, 255, 1);
  width: 422px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-group10 {
  top: 0px;
  left: 694px;
  width: 511px;
  height: 384px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(49, 153, 254, 1);
}
.peer-link-text21 {
  top: 81px;
  left: 57px;
  color: rgba(255, 255, 255, 1);
  width: 422px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-group11 {
  top: 479px;
  left: 0px;
  width: 529px;
  height: 384px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-rectangle7 {
  top: 0px;
  left: 0px;
  width: 511px;
  height: 384px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.peer-link-text23 {
  top: 125px;
  left: 17px;
  color: rgba(255, 255, 255, 1);
  width: 512px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-group12 {
  top: 479px;
  left: 700px;
  width: 511px;
  height: 384px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(49, 153, 254, 1);
}
.peer-link-text25 {
  top: 152px;
  left: 83px;
  color: rgba(255, 255, 255, 1);
  width: 422px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-group20 {
  top: 2784px;
  left: 37px;
  width: 1317px;
  height: 652px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-group15 {
  top: 154px;
  left: 12px;
  width: 566px;
  height: 198px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-rectangle9 {
  top: 83px;
  left: 0px;
  width: 566px;
  height: 115px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.peer-link-text27 {
  top: 120px;
  left: 36px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-text29 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-group16 {
  top: 154px;
  left: 751px;
  width: 566px;
  height: 198px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-rectangle91 {
  top: 83px;
  left: 0px;
  width: 566px;
  height: 115px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.peer-link-text31 {
  top: 112px;
  left: 36px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-text33 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-group17 {
  top: 454px;
  left: 0px;
  width: 566px;
  height: 198px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-rectangle92 {
  top: 83px;
  left: 0px;
  width: 566px;
  height: 115px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.peer-link-text35 {
  top: 112px;
  left: 36px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-text37 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-group18 {
  top: 454px;
  left: 751px;
  width: 566px;
  height: 198px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-rectangle93 {
  top: 83px;
  left: 0px;
  width: 566px;
  height: 115px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.peer-link-text39 {
  top: 112px;
  left: 24px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-text41 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-text43 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-group61 {
  top: 3558px;
  left: 1036px;
  width: 302px;
  height: 86px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(49, 153, 254, 1);
}
.peer-link-text45 {
  top: 25px;
  left: 48px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-rectangle10 {
  top: 3793px;
  left: 0px;
  width: 1354px;
  height: 222px;
  position: absolute;
}
.peer-link-text47 {
  top: 3886px;
  left: 322px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
